/**
 * Embroidery Theme Styles - Redesigned
 */
.theme-embroidery {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-embroidery .embroidery-canvas {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 1;
}
