/**
 * Sand Theme Styles - Redesigned
 */
.theme-sand {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.theme-sand .sand-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
